.logo{
	width:100;
	height:100;
}

.btn-registos {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-registros:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

body {
  background-color: #fff;
}

	
.cabecera {
	color: white;
	background-color: #3a5214;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.contenedor1 {
	background-color: #fff;
	color: #000;
}

bloque1 {
	min-height: 200px;
	min-width: 500px;
}